@model TuningStudioSite.Models.DbEntities.DetailTask

@{
    ViewBag.Title = "Детальніше про закупки";
}

<h2>Детальніше про закупки</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Деталі
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail.NameDetail)
        </dd>

        <dt>
            Завдання
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Показати список закупок", "Index")
</p>
