<!-- ko with: home -->
 <div class="jumbotron">
     <h1 align="center">Тюнінг ательє</h1>
         <p class="lead" align="center">Сайт для керування Вашим бізнесом у сфері послуг </p>
</div>
<img src="~/Content/Pictures/ceramicpro.gif" style="width: 100%"/>
@*<img src="~/Content/Pictures/pict4.jpg" />*@
<div class="row">
    <div class="col-md-4">
        <h2>Рекомендації з використання</h2>
        <p> Для створення нових поставщиків, майстрів, клієнтів необхідно
            вибрати пункт меню "Створення" та обрати необхідний пенкт створення.</p>
       
        <p><a class="btn btn-default" href="mailto:andriy.lavrov@gmail.com">Детальнішу інформацію ти можеш дізнатися, а також отримати інструкції за електронною адресою andriy.lavrov@gmail.com</a></p>
    </div>

    <div class="col-md-4">
        <h2>Формування звітів</h2>
        <p>
            Ви можете отримувати звіти для найкращого представлення інформації. Для цього перейдіть у вкладку "Звіт" і оберіть потрібний Вам звіт. Система автоматично згенерує звіт за Вашим запитом.
        </p>
   </div>

    <div class="col-md-4">
        <h2>Безпека</h2>
        <p>Даний сайт працює за найновітнішими технологіями, отже Ви можете не турбуватися про стабільність доступу та захист даних.</p>
    </div>
</div>

<!-- /ko -->
