@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<img src="~/Content/Pictures/i am.jpg" />
<address>
    Вінниця, ВНТУ, 2 корпус<br />
    Сайт не для комерційного використання<br />
    За інструкціями з редагування коду звертатись до автора по електронній пошті<br />
</address>

<address>
    <strong>Підтримка:</strong>   <a href="https://vk.com/andriy.lavrov">Робоча сторінка автора.</a><br />
</address>
